extends layout

block content
  div(class='redBg')
      h1= error.status
  div(class='lightBg')
      h2 An Error has Occurred
      p Well, that probably wasn't supposed to happen.
      if(error.status === 404)
          p Wait a moment. Is that a 404 up there? Meaning "page not found"? What are you doing here? There's nothing to see. Go on now. Shoo!
      p If you've reached this page in error, please let me know via any of the links below.