extends layout

block content
  div(class='darkBg')
    img(class='rounded-img top-img' src='images/face.jpg' alt='Ben High')
    h1 Ben High
    h2 Android/Web Developer

  div(class='lightBg')
    h3 About Me
    div(class='textBlock')
      p Hey there! I'm a graduating Computer Science senior at Drury University in Springfield, Missouri, Android and web developer, open-source and VR enthusiast. I've been working with code since I was 13, starting with Python 2.7. Ever since then, I've gained a love for learning new languages and frameworks. These days, I generally work with web development in Spring MVC, mobile development with Kotlin or Flutter, and the occasional VR project with Unity. On top of studying programming languages, I also love learning new spoken languages. I know English and Spanish pretty well, and I've been learning Welsh and German as of late!

  div(class='darkBg')
    h3 Technologies
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-lg-4 col-md-6 col-sm-12')
          img(src='images/spring.png' alt='Spring' class='lang-img')
          h4 Spring
        div(class='col-lg-4 col-md-6 col-sm-12')
          img(src='images/android.png' alt='Android' class='lang-img')
          h4 Android
        div(class='col-lg-4 col-md-6 col-sm-12')
          img(src='images/unity.png' alt='Unity' class='lang-img')
          h4 Unity

  div(class='lightBg')
    a(href='dist/BenHighResume.pdf')
      button Download Resume
