doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
    block content
    div(class='darkBg bottom')
      div(class='container')
        div(class='row justify-content-center')
          div(class='col-1')
            a(href='https://gitlab.com/explodingkittens')
              img(src='images/gitlab.png' alt='GitLab')
          div(class='col-1')
            a(href='https://twitter.com/explodingkittns')
              img(src='images/twitter.png' alt='Twitter')
          div(class='col-1')
            a(href='mailto:ben@benhigh.xyz')
              img(src='images/email.png' alt='Email')
simp