@import url("https://fonts.googleapis.com/css?family=Baumans|Big+Shoulders+Display|Comfortaa|Gruppo&display=swap");
body {
  background-color: #2f2f2f;
}

h1 {
  font-family: Gruppo, sans-serif;
  font-size: 4em;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2em;
}

h3 {
  margin-bottom: 0.5em;
  font-size: 2.25em;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: bold;
  text-align: center;
}

h4 {
  margin-top: 0.5em;
  font-family: "Comfortaa", sans-serif;
}

.darkBg {
  background-color: #2f2f2f;
  text-align: center;
  padding: 2em 0 4em 0;
}
.darkBg h1, .darkBg h2, .darkBg h3, .darkBg h4, .darkBg p {
  color: white;
}

.redBg {
  background-color: #43191b;
  text-align: center;
  padding: 5em 0 4em 0;
}
.redBg h1 {
  color: white;
}

.rounded-img {
  border-radius: 100%;
}

.top-img {
  height: 25em;
}

.lightBg {
  background-color: #efefef;
  text-align: center;
  padding: 2em 0 2em 0;
}

.lang-img {
  vertical-align: center;
}

p {
  font-family: Comfortaa, sans-serif;
  font-size: 1em;
}

.textBlock {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 10em;
  height: 3em;
  background: inherit;
  border-radius: 2em;
  border: solid #333 0.1em;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2em;
}

.bottom img {
  width: 2em;
}

.bottom {
  padding-bottom: 2em;
}

/*# sourceMappingURL=style.css.map */
